.main {
  width: 100vw;
  height: 800px;
  background-image: url("../img/heroBG.png");
  background-size: cover;
  padding: 40px;
}

.header {
  margin: 80px auto 40px;
  width: fit-content;
  padding: 20px;

  border: 1px solid;
  border-radius: 16px;
  background-color: rgba(169, 169, 169, 0.323);

  text-transform: uppercase;
}
